@import "../../../styles/variables.module";

.form {
  @include flexColumn;

  >div {
    box-shadow: $box-shadow;
    border-radius: 20px;
    padding: 1rem;
  }

  h4 {
    margin-bottom: 2rem;
  }

  >button {
    align-self: flex-end;
  }
}



