$link-color: #ffffff;
$header-color: #6477be;
$box-shadow: rgba(0, 0, 0, 0.44) 1px 1px 5px;

@mixin card {
  box-shadow: $box-shadow;
  border-radius: 10px;
  padding: 20px;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}